<!DOCTYPE html >
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
	<meta http-equiv="content-language" content="en-us">
	<meta name="author" content="not me">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <title>Oops!</title>
</head>
<body>
	<div class="fullBox">
		<header>
			<h1>Sorry! This Page is Currently Under Development.</h1>
			<h2>Check our <a href="https://github.com/LukeIngram/img-to-pdf-converter-webapp">Github</a> for Progress Updates </h2>
		</header> 
		<main>
			<div class="main__instructions">
				<p>This is placeholder text for the instructions.</p>
			</div>
			<div class="main__imageOutput">
				<img src="{{ url_for('static', filename='placeholder.jpg') }}" />
			</div>
			<div class="main__buttonRow">
				<p style="color: blue">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul style="list-style:none;">
					   {% for message in messages %}
						<li>{{ message }}</li>
					   {% endfor %}
					</ul>
					{% endif %}
				 {% endwith %} 
				</p>
				
				
				
				{% if file %}
					<div>
						<img src="{{ url_for('display_image', filename=file) }}">
					</div>
				{% endif %}
				<hr width="100%">
				<p>Last updated May. 2022</p>
				<div class="main__uploadButton"></div>
					<form  method="post" action="" enctype="multipart/form-data">
					Select image to upload:
					  <input type="file" name="file" required>
					  <input type="submit" value="Submit">
			  		</form>
				<div class="main__submitButton"></div>
			</div>
		</main> 
		<footer>
			<h2>&#169; Luke Ingram & Paul DiGerolamo</h2>
			<h3>Luke Ingram: Backend programming</h3>
			<h3>Paul DiGerolamo: Frontend design</h3>
		</footer> 
	</div>

</body>
</html>
