<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="iso-8859-1">
    <meta http-equiv="content-language" content="en-us">
    <meta name="author" content="Luke Ingram">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>DocuScanner</title>
    <style>
        .responsive-iframe {
            width: 100%;
            height: 80vh;
            border: none;
        }
    </style>
<body>
    <div class="fullBox">
        <header>
            <h1>DocuScanner-Flask</h1>
            <h2>Check the <a href="https://github.com/LukeIngram/DocuScanner-Flask">Github</a> for Progress Updates</h2>
        </header>
        <main>
            <section class="main__instructions">
                <p>Upload an image of your document below! Supported types are jpeg, png, & tiff.</p>
                <p>For best results, please center your document within the image, making sure all corners are visible, and place against a dark or contrasting background. </p>
                <img src="static/report_fingers.jpg" alt="sample input/output" style="max-width: 100%; height: auto;">
            </section>
            <section class="main__buttonRow">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="messages" style="list-style:none; color: blue;">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <hr>

                <form method="post" action="" enctype="multipart/form-data">
                    <p>Select image to upload:</p>
                    <input type="file" name="file" required>
                        <label> Verbose
                            <input type="checkbox" name="verbose" value="No">
                        </label>
                        <label> PDF
                            <input type="checkbox" name="pdf" value="No">
                        </label>
                    <div>
                    <input type="submit" value="Upload">
                    </div>
                </form>

                {% if report_url %}
                    <h2>Report Image</h2>
                    <img src="{{ report_url }}" alt="Report Image">
                {% endif %}

                {% if output_url %}
                    <h2>Processed Input</h2>
                    {% if content_type == 'image' %}
                        <img src="{{ output_url }}" alt="Output Image" style="max-width: 100%; height: auto;">
                    {% elif content_type == 'pdf' %}
                        <object data="{{ output_url }}" type="application/pdf" class="responsive-iframe"></object>
                    {% endif %}
                    <a href="{{ output_url }}" download>
                        <button>Download</button>
                    </a>
                {% endif %}
            </section>
        </main>
        <footer>
            <p>&copy; 2023 Your Company Name</p>
            <p>Last updated November, 2023</p>
        </footer>
    </div>
</body>
</html>
